
@{
    ViewBag.Title = "招聘管理";
}
<div class="layui-upload" style="margin:10px 10px ">
    <button type="button" class="layui-btn" id="test1"><i class="layui-icon"></i>Excel导入</button>
    <button type="button" class="layui-btn layui-btn-disabled" id="test2">保存</button>
</div>

<div style="margin:0px 10px ">
    <table id="Recruitment" lay-filter="RecruitmentTable"></table>
</div>


<script type="text/javascript">
    layui.use(['table', 'jquery', 'unobtrusive','upload'], function () {
        var table = layui.table,
            layer = top.layer,
            upload=layui.upload,
            unobtrusive = layui.unobtrusive,
            $ = layui.$;

        //表格初始化
        table.render({
            elem: '#Recruitment',
            url: '@Url.Action("RecruitmentList")',
            page: true,
            toolbar: 'default',
            height: '510px',
            cols: [[
                { type: 'checkbox', width: '8%', align: 'center', fixed: 'left' },
                { field: 'PostName', title: '职位', width: '10%', align: 'center' },
                { field: 'PostType', title: '类别', width: '10%', align: 'center' },
                { field: 'PostPlace', title: '工作地点', width: '10%', align: 'center' },
                { field: 'PostDesc', title: '职位描述', width: '10%', align: 'center' },
                { field: 'PostRequire', title: '职位要求', width: '10%', align: 'center' },
                { field: 'Experience', title: '经验', width: '10%', align: 'center' },
                { field: 'EduBackground', title: '学历', width: '10%', align: 'center' },
                { field: 'RequireCount', title: '招聘人数', width: '10%', align: 'center' },
                { field: 'Manager', title: '联系人', width: '10%', align: 'center' },
                { field: 'PhoneNumber', title: '电话', width: '15%', align: 'center' },
                { field: 'Email', title: '邮箱', width: '15%', align: 'center' },
                { field: 'PublishTimeStr', title: '发布时间', width: '15%', align: 'center', sort: true},

            ]]
        });

        //Excel文件上传
        upload.render({ //允许上传的文件后缀
            elem: '#test1',
            url: '@Url.Action("UploadExcelFile")',
            accept: 'file', //普通文件
            done: function (res) {
                table.reload('Recruitment', {
                    url: '@Url.Action("ShowData")',
                    done: function () {
                        $('#test2').removeClass("layui-btn layui-btn-disabled").addClass("layui-btn");
                    }
                })
            }
        });

        //数据保存
        $('#test2').click(function () {            
            $(this).removeClass("layui-btn").addClass("layui-btn layui-btn-disabled");
            $.post("/HotelManager/Recruitment/InputData",function (res) {
                if (res > 0) {
                    layer.msg("总共导入" + res + "条数据，数据导入成功！");                    
                    table.reload('Recruitment', {
                        url: '@Url.Action("RecruitmentList")'
                    });                   
                }
                else {
                    layer.msg("导入失败！");
                }
            })           
        });

        //表格刷新
        window.refreshTable = function () {
            table.reload('Recruitment', {
                url: '@Url.Action("RecruitmentList")',
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            })
        };


        //表头工具栏事件监听
        table.on('toolbar(RecruitmentTable)', function (obj) {
            var checkStatus = table.checkStatus('Recruitment');

            switch (obj.event) {
                //添加事件
                case 'add':
                    layer.open({
                        type: 2,
                        title: "添加招聘信息",
                        area: ['750px', '500px'],
                        offset: 'auto',
                        content: ['/HotelManager/Recruitment/Creat']
                    });
                    break;

                    //删除事件
                case 'delete':
                    var idNum = new Array();
                    for (var i = 0; i < checkStatus.data.length; i++) {
                        idNum.push(checkStatus.data[i].PostId)
                    }
                    if (checkStatus.data.length == 0) {
                        layer.msg("请选择要删除的对象！");
                    }
                    else if (checkStatus.data.length > 0) {
                        layer.confirm("确认删除吗？", function () {
                            $.ajax({
                                type: "post",
                                url: "@Url.Action("Delete")",
                                data: JSON.stringify(idNum),
                                contentType: 'application/json',
                                success: function (res) {
                                    if (res > 0) {
                                        layer.msg("成功删除" + res + "个对象！");
                                        refreshTable();
                                    }
                                }
                            });
                        })
                    }
                    break;

                    //更新事件
                case 'update':
                    if (checkStatus.data.length == 0) {
                        layer.msg("请选择需要修改的对象！");
                    }
                    else if (checkStatus.data.length > 1) { layer.msg("一次只能修改一个对象！"); }
                    else {
                        var postId = checkStatus.data[0].PostId;
                        layer.open({
                            type: 2,
                            title: "修改内容",
                            area: ['750px', '500px'],
                            offset: 'auto',
                            content: ['/HotelManager/Recruitment/Update?postId=' + postId]
                        });
                    }
                    break;
            }
        });

        //双击选中行事件
        table.on('rowDouble(RecruitmentTable)', function (obj) {
            var postId = obj.data.PostId;
            layer.open({
                type: 2,
                title: "修改新闻",
                area: ['900px', '500px'],
                offset: 'auto',
                content: ['/HotelManager/Recruitment/Update?postId=' + postId]
            });
        });
    })
</script>
